body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/originals/e0/f2/56/e0f2563f818d35638c4598bd15a67655.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;

}


